* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation style  */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: orange;
}

.header {
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.text-primary {
    color: orange;
}

/* banner styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 600;
    font-size: 65px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 40px;
    padding: 130px 150px;
    text-align: center;



}

.section-title {
    font-weight: 700;
    font-size: 35;
    margin-bottom: 30px;
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

.what-i-do {
    margin-top: 130px;



}

.section-title {
    margin-top: 114px;
    text-align: center;
}

.what-i-do-description {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;

}

.skills-container {
    display: flex;

}

.skills {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    margin-inline-end: 24px;
    border-radius: 20px;

}

.skill-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

.skills-description {
    color: dodgerblue;
    font-weight: 400;
    font-size: 16px;
}

.section-title {
    margin-top: 130px;
    margin-bottom: 113px;
    text-align: center;
}

/* resume styles  */
.resume-content {
    display: flex;
    gap: 24px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;

}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;

}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-button {
    text-align: center;
    margin-top: 50px;
}

.contact-title {
    text-align: left;
    gap: 100px;
    padding: 130px 200px;
    background: #FFF8F3;

}

.Contact {
    display: flex;
}